table tr td {
    width: 100px;
    height: 100px;
    border: solid #000 1px;
  }
  
  table tr:nth-child(odd) td:nth-child(even) {
    background: #000;
  }
  table tr:nth-child(even) td:nth-child(odd) {
    background: #000;
  }

.selected {
  background-color: grey !important;
}

.hidden {
  display: none !important;
}

td {
  text-align: center;
}

.fas {
  color: #DD1515
}

.far {
  color: #DDDDDD;
}

.legalLocation {
  background-color: lightslategray !important;
}