<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Open Table Checkers</title>
        {% endif %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% block scripts %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="menu">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('statistics') }}">Statistics</a>
            <a href="{{ url_for('checkers') }}">Checkers</a>
        </div>
        <hr>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>