{% extends "base.html" %}

{% block scripts %}
    <script type=text/javascript src="{{ url_for('static', filename='checkers.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='checkers.css') }}"/>
{% endblock %}

{% block content %}
    <table>
    {% for i in range(0, 8) %}
        <tr>
            {% for j in range(0, 8) %}
                {% if (i + j) % 2 != 0 %}
                    <td class="clickabletd" id="{{ ((i * 8 + j) // 2) }}"></td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
